Options -Indexes

AddType video/mp4 .mp4
AddType video/webm .webm
AddType video/ogg .ogg

<IfModule mod_php.c>
  php_value upload_max_filesize 200M
  php_value post_max_size 210M
  php_value max_file_uploads 5
  php_value max_execution_time 300
  php_value max_input_time 300
</IfModule>

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
</IfModule>
